:root {
    font-size: 60%;

    --color-button: #C70039;
    --color-button-dark: #c70038b4;
    --color-button-text: #FFFFFF;
    --color-background: #F0F0F7;
    --color-secundary: #FFCB74;
    --color-button-yellow-dark: #ffcc7480;
    --color-button-fog-dark: #e6e6f054;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100vh;
}

body {
    background: var(--color-background);
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
}

body,
input,
button,
textarea {
    font: 500 1.6rem Josefin Sans;
}

.container {
    width: 90vw;
    max-width: 700px;
}

@media (min-width: 700px) {
    :root {
        font-size: 62.5%;
    }
}